input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
}

.picker-input-wrapper {
    overflow: hidden;
    width: 2em;
    height: 2em;
    /* optional formatting below here */
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
    margin: 1em;
}

.picker-container {
    position: fixed;
    z-index: 5000;
    top: 50%;
    right: 20px;
}