// ffffff-e5b155-d5ac63-e3a14a-a98a5a-7c6850
// ffffff-e3a14a-333333-2c4a58
$colors-count: 8;
$primary: #F9CE34;
$secondary: #121212;
$background: #ffff;
$color-1: #F9CE34;
$color-2: #f54831;
$color-3: #e5b155;
$color-4: #e3a14a;
$color-5: #333333;
$color-6: #2c4a58;
$color-7: #7c6850;
$color-8: #a98a5a;
// css variables
:root {
    // main colors
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --background-color: #{$background};
    // 2 set for colors
    --color-1: #{$color-1};
    --color-2: #{$color-2};
    --color-3: #{$color-3};
    --color-4: #{$color-4};
    --color-5: #{$color-5};
    --color-6: #{$color-6};
    --color-7: #{$color-7};
    --color-8: #{$color-8};
    --colors-count: #{$colors-count};
}