// ffffff-e5b155-d5ac63-e3a14a-a98a5a-7c6850
// ffffff-e3a14a-333333-2c4a58
$colors-count: 8;
$primary: #F9CE34;
$secondary: #121212;
$background: #fff;
$texts: #fff;
$darktexts: #222222;
$colorprimary-1: #F9CE34;
$colorprimary-2: #f54831;
$colorprimary-3: #e5b155;
$colorprimary-4: #e3a14a;
$colorprimary-5: #333333;
$colorprimary-6: #2c4a58;
$colorprimary-7: #7c6850;
$colorprimary-8: #a98a5a;
$colorsecondary-1: #121212;
$colorsecondary-2: #f54831;
$colorsecondary-3: #e5b155;
$colorsecondary-4: #e3a14a;
$colorsecondary-5: #333333;
$colorsecondary-6: #2c4a58;
$colorsecondary-7: #7c6850;
$colorsecondary-8: #a98a5a;
$colorbackground-1: #fff;
$colorbackground-2: #f54831;
$colorbackground-3: #e5b155;
$colorbackground-4: #e3a14a;
$colorbackground-5: #333333;
$colorbackground-6: #2c4a58;
$colorbackground-7: #7c6850;
$colorbackground-8: #a98a5a;
// css variables
:root {
    // main colors
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --background-color: #{$background};
    --whitetexts-color: #{$texts};
    --darktexts-color: #{$darktexts};
    // 2 set for colors
    --colorprimary-1: #{$colorprimary-1};
    --colorprimary-2: #{$colorprimary-2};
    --colorprimary-3: #{$colorprimary-3};
    --colorprimary-4: #{$colorprimary-4};
    --colorprimary-5: #{$colorprimary-5};
    --colorprimary-6: #{$colorprimary-6};
    --colorprimary-7: #{$colorprimary-7};
    --colorprimary-8: #{$colorprimary-8};
    --colorsecondary-1: #{$colorsecondary-1};
    --colorsecondary-2: #{$colorsecondary-2};
    --colorsecondary-3: #{$colorsecondary-3};
    --colorsecondary-4: #{$colorsecondary-4};
    --colorsecondary-5: #{$colorsecondary-5};
    --colorsecondary-6: #{$colorsecondary-6};
    --colorsecondary-7: #{$colorsecondary-7};
    --colorsecondary-8: #{$colorsecondary-8};
    --colorbackground-1: #{$colorbackground-1};
    --colorbackground-2: #{$colorbackground-2};
    --colorbackground-3: #{$colorbackground-3};
    --colorbackground-4: #{$colorbackground-4};
    --colorbackground-5: #{$colorbackground-5};
    --colorbackground-6: #{$colorbackground-6};
    --colorbackground-7: #{$colorbackground-7};
    --colorbackground-8: #{$colorbackground-8};
    --colors-count: #{$colors-count};
}